body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/images/airWaterShow.jpg') ;
  min-height: 100%;
  background-position: center fixed;
  background-size: cover;
  opacity: 0.8;
  filter: grayscale(80%)
  
}