body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/images/airWaterShow.jpg') ;
  min-height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 1;
}

div.w3-display-middle{
  margin: 20px;
  background-color: #ffffff;
  opacity: 0.6;
  height: 220px;
  width:800px;
}